.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  background-color: #ccc;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #000;
}
.register > h2 {
  text-align: center;
  font-weight: bold;
}
.form-content {
  padding: 1rem;
}
.form-group {
  padding: 1rem;
}
.form-group > input {
  padding: 10px;
}

.cart{
   background-color: #eee;
   border-radius: 10px;
   box-shadow:1px 1px .6px 1px #ccc;
   margin:4px 2px;
   padding:10px 20px;
}

.cart1{
   background-color: #eee;
   border-radius: 10px;
   box-shadow:1px 1px .6px 1px #ccc;
   /* margin:4px 2px;
   padding:10px 20px; */
}

table {
  position: relative;
}

.totalPrice {
  position: absolute;
  right: 11%;
  top: 20%;
}

.user{
  background-color: #eee;
  padding:2rem 1rem;
  margin:4rem 1rem;
  border-radius:10px;
}
.order{
  background-color: #eee;
  padding:2rem 1rem;
  margin:2rem 1rem;
  border-radius:10px;
  width: 60%;
}
.img{
  background-repeat: no-repeat;
  width:100%;
  height:100vh;
  position: relative;
  top: -20px;
}
h1{
  font-size:4rem;
}
.offer{
  font-size:6rem;
  font-weight:bold;
  color:#9d0208;
}
.offer1{
  font-size:4rem;
  font-weight:bold;
  color:#9d0208;
}
.img1{
  height:100vh;
  width: 100%;
}
.p{
  font-size:1.5rem;
}
.shop{
  font-size:3rem;
  font-weight:bold;
  margin: 1rem 0rem;
}

.navlink{
  text-decoration: none;
  font-size:2rem;
}
.userIcon{
  font-size: 30px;
}